p {
    font-size:30;
}
body {
    background-color:orange;
}

#start {
    font-weight:bold;
    font-size:26;
}

BUTTON {
    font-size:30;
}
IMG {
    height:50%;
    width:50%;
    min-height:300px;
    min-width:300px;
    margin:0 auto;
}
#choice1 {
    max-height:310px;
    max-width:310px;
}
#choice2 {
    max-height:310px;
    max-width:310px;
}
a:link, a:visited {
     background-color:lime;
            text-decoration:none;
            color:black;
            display:block;
            width:250px;
            text-align:center;
            border:3px solid black;
            font-size:20;
            background-repeat:no-repeat;
            background-size:cover;
}
  a:hover{
      background-image:url("http://orig05.deviantart.net/b68c/f/2014/025/7/3/happy_lenny_emote__large__by_thedalmin-d73mrnz.gif");
      background-size:40%;
  } 
  a:active {
background-color:red;        
}
li {
    list-style:none;
    font-size:30px;
    text-align:left;
    border:30px;
}
