
a:link, a:visited {
     background-color:lime;
            text-decoration:none;
            color:black;
            display:block;
            width:250px;
            text-align:center;
            border:3px solid black;
            font-size:20;
            background-repeat:no-repeat;
            background-size:cover;
}
  a:hover{
      background-image:url("http://orig05.deviantart.net/b68c/f/2014/025/7/3/happy_lenny_emote__large__by_thedalmin-d73mrnz.gif");
      background-size:40%;
  } 
  a:active {
background-color:red;        
}
li {
    list-style:none;
    font-size:30px;
    text-align:left;
    border:30px;
}
p {
    background-color:lime;
    border:3px solid;
    margin-right:50%;
    font-size:20px;
} 
code{
    width:100px;
}

pre {
    background-color:orange;
    border:3px solid;
    margin-right:50%;
    font-size:20px;
    width:700px;

}
h1 {
    background-color:yellow;
    border:3px solid black;
    width:300px;
}
h2 {
    background-color:red;
    border:3px solid black;
    width:300px;
    color:white;
}
hi {
    background-color:yellow;
    border:3px solid black;
    margin-right:50%;
}
body {
     background-image:url("https://shadowzael.files.wordpress.com/2015/07/classroomcrisis1.jpg");
     background-size:cover; 
     background-repeat:no-repeat;
     background-attachment:fixed;
}